{% extends 'base.html' %}

{% block title %}Edit Product{% endblock %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Edit" class="btn btn-primary">
    <hr>
    <ul>
        {% if product.review_set.count > 0 %}
            {% for review in product.review_set.all %}
                <li>{{ review }} <a href="{% url 'product:edit2_review' product_pk=product.id review_pk=review.id  %}" class="btn btn-primary btn-sm">EDIT</a></li>
            {% endfor %}
        {% endif %}
    </ul>
</form>
{% endblock %}